li {
    display: inline;
    float: left;
}

ul {
    background-color: #dddddd;
}

a.nav {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

h2 {
    color: steelblue;
    margin: auto;
    width: 50%;
}
a.click-for-more {
    font-size: 8px;
}

body {
    background-color: darkslategray
}

img {
    margin: auto;
    width: 50%
}

p.descriptions {
    margin: auto;
    width: 50%;
    color: whitesmoke;
}