h2 {
    color: steelblue;
    margin: auto;
    width: 50%;
}
a.click-for-more {
    font-size: 8px;
}

body {
    color: darkslategray
}

img {
    margin: auto;
    width: 50%
}

p.descriptions {
    margin: auto;
    width: 50%;
    color: whitesmoke;
}